{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(.*)/configrations/(.*)$",
    "^(.*)/constants(.*)$",
    "^(.*)/controllers/(.*)$",
    "^(.*)/libs/(.*)$",
    "^(.*)/types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
